header {
    width: 100%;
    padding: 20px 8%;
    position: sticky;
    top: 0;
    background: white;
    border-bottom: 1px solid var(--border-color);
    z-index: 1000;
}

#navbar {
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav_logo {
    font-weight: 700;
    font-size: 18px;
    color: var(--primary);
}

#nav_list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 500;
    transition: 0.3s;
}

.nav-item a:hover,
.nav-item.active a {
    color: var(--accent);
}

#mobile_btn {
    display: none;
}